html, body {
    height: 100%;
}

body {
    min-height: 100%;
    background-image: url("../images/backgroundv3.jpg");
    background-size: cover;
    position: relative;
    z-index: 1;
    font-family: 'Roboto', sans-serif;
}

.navbar-brand {
    color: #cd7b08;
    font-family: 'Playfair Display', sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.gallery img {
    width: 32%;
    height: 25vh;
    object-fit: cover;
    margin: auto;
    border: 1px solid #cd7b08;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
}

.content {
    font: normal 1.13rem/1.6 'Roboto', sans-serif;
    text-align: justify;
    margin-left: 10px;
}