
body {
    min-height: 100%;
    background-image: url("../images/backgroundv3.jpg");
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.navbar-brand {
    color: #cd7b08;
    font-family: 'Playfair Display', sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.gallery {
    max-width: 100%;
}

.gallery img {
    height: 15vw;
    object-fit: cover;
    border: 1px solid #cd7b08;
}

footer {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
}

.content {
    font: normal 1.13rem/1.6 'Roboto', sans-serif;
    text-align: justify;
    margin-left: 10px;
}

h2 {
    font-weight: 400;
    font-size: 1.5rem;
    color: #2c3e50;
    text-align: center;
}


@media  (max-width: 992px) {
    .logo, .gallery, .content {
        float: none;
    }

    .logo {
        order: 1;
        margin-bottom: 1rem;
    }

    .content {
        order: 2;
        margin: 2rem;
    }

    .gallery {
        order: 3;
        margin-top: 1rem;
    }

    form {
        order: 4;
    }

    .gallery img {
        height: 30vw;
    }

    .gallery img:last-child {
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 768px){
    .gallery img {
        height: 40vw;
    }
}